@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IranSans";
  src: url(/public/fonts/IRANSansXV.ttf) format(trutype-variation),
    url(/public/fonts/IRANSansXV.ttf) format(trutype),
    url(/public/fonts/IRANSansXV.woff2) format(woff2-variation),
    url(/public/fonts/IRANSansXV.woff2) format(woff2);
}
body {
  font-family: "IranSans";
  direction: rtl;
}
